

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row d-flex justify-content-sm-around pt-5">
        <div class="col-12 col-sm-12 col-md-5 col-lg-6">
            <h1 class="display-4 fw-bold mb-5">Welcome to <strong class="text-primary">E-Cart</strong> Store</h1>
@*            <p>E-Cart is online shopping website made using ASP.NET Core MVC</p>*@
               

        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-6">
            <img src="~/images/undraw_web_shopping_re_owap.svg" alt="internet shoping illustration" class="img-fluid" />
        </div>
    </div>
</div>
