@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;
@inject UserManager<IdentityUser> UserManager

@section Scripts {

   
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Cart_WebApp</title>
   
    <link rel="stylesheet" href="~/css/bootswatch-darktheme.css" id="dark-theme" disabled/>
        <link rel="stylesheet" href="~/css/bootstrap-lighttheme.css" id="light-theme" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">




</head>
<body>
    <header>


        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/css/E-Cart-logos_white.png" alt="logo" width="200" height="auto"/></a>
                <div class="ms-4 text-light fs-5 ms-auto me-4">
                    <i class="bi bi-moon-stars-fill d-none" id="dark-icon"></i>
                    <i class="bi bi-sun-fill" id="light-icon"></i>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    
                    <div class="collapse navbar-collapse text-uppercase" id="navbarColor01">
                    @if (SignInManager.IsSignedIn(User))
                    {
                         <ul class="navbar-nav">
                       
                            <li class="nav-item text-uppercase">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Product">Catalog</a>
                            </li>


                            @{
                                var user = await UserManager.GetUserAsync(User);
                                var roles = await UserManager.GetRolesAsync(user);
                                if (!roles.Contains("user"))
                                {
                                    <li class="nav-item text-uppercase">
                                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Product">Admin</a>
                                    </li>
                                    <li class="nav-item text-uppercase">
                                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">Roles</a>
                                    </li>
                                }

                            }

                         </ul>
                          



                           
                         


                        }
                        <div class="ms-auto">
                            <partial name="_LoginPartial" />
                        </div>
                    

                </div>
                
            </div>
        </nav>
  
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container text-center">
            &copy; 2022 - <b>E-Cart</b> - Made by Rahul Hatwal 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  @*  <script>
        $(document).ready(function () {
            //$("#theme-toggle").on("change", function () {
            //    console.log("theme-toggle clicked");
            //    if (this.checked) {
            //        // switch to alternate theme
            //        //$("#light-theme")[0].disabled = true;
            //        //$("#dark-theme")[0].disabled = false;
            //            $("#light-theme").removeAttr("disabled");
            //            $("#dark-theme").attr("disabled", "disabled");
            //            //$("#theme-label").text("Light Theme");

            //            $("#light-icon").removeClass("d-none");
            //            $("#dark-icon").addClass("d-none");

                   
              
            //    } else {
            //        // switch to main theme
            //        //$("#light-theme")[0].disabled = false;
            //        //$("#dark-theme")[0].disabled = true;
            //            $("#light-theme").attr("disabled", "disabled");
            //            $("#dark-theme").removeAttr("disabled");
            //            //$("#theme-label").text("Dark Theme");

            //            $("#light-icon").addClass("d-none");
            //            $("#dark-icon").removeClass("d-none");
            //    }
            //});


                // Initially set the theme to light
                $("#light-theme").attr("disabled", false);
                $("#dark-theme").attr("disabled", true);

                // Handle clicking on the sun icon
                $("#light-icon").click(function () {
                    // Change the theme to light
                    $("#light-theme").attr("disabled", false);
                    $("#dark-theme").attr("disabled", true);
                });

                // Handle clicking on the moon icon
                $("#dark-icon").click(function () {
                    // Change the theme to dark
                    $("#light-theme").attr("disabled", true);
                    $("#dark-theme").attr("disabled", false);
                });
        });
    </script>*@
        <script>
            var sunIcon = document.querySelector('.bi-sun-fill');
            var moonIcon = document.querySelector('.bi-moon-stars-fill');
            var lightTheme = document.querySelector('#light-theme');
            var darkTheme = document.querySelector('#dark-theme');
            var body = document.querySelector('body');

            sunIcon.addEventListener('click', function () {
                lightTheme.disabled = false;
                darkTheme.disabled = true;
                sunIcon.classList.add('d-none');
                moonIcon.classList.remove('d-none');
                body.classList.add('light-theme');
                body.classList.remove('dark-theme');
            });

            moonIcon.addEventListener('click', function () {
                lightTheme.disabled = true;
                darkTheme.disabled = false;
                moonIcon.classList.add('d-none');
                sunIcon.classList.remove('d-none');
                body.classList.add('dark-theme');
                body.classList.remove('light-theme');
            });
        </script>


   @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
